<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    xmlns:android = "http://schemas.android.com/apk/res/android" 
    id          = "com.schedular.kunaal"
    versionCode = "01" 
    version     = "1.0.0" > 

  <name>Schedular App</name>
  <icon src="img/icon.png" width="180" height="180" />

  <preference name="Orientation" value='portrait'></preference>
  <!-- <preference name="Fullscreen" value="true" /> -->

  <description>
    make your schedules to utilize your time properly.
  </description>
  <preference name="android-build-tool" value="gradle" />
  <preference name="android-targetSdkVersion" value="28" />
  <preference name="android-installLocation" value="auto" />
  <preference name="android-windowSoftInputMode" value="adjustResize" />

  <gap:config-file platform="android" parent="/manifest">  
    <supports-screens   android:xlargeScreens="true"   android:largeScreens="true"   android:smallScreens="true" />  
    <application android:theme="@android:style/Theme.NoTitleBar" >  
      <activity android:theme="@android:style/Theme.NoTitleBar.Fullscreen" ></activity>  
    </application>
  </gap:config-file>

  <gap:plugin name="cordova-plugin-local-notification" source="npm"/>
  <gap:plugin name="cordova-plugin-whitelist" source="npm"/>

  <access origin="*" />
  <allow-navigation href="*" />
  <allow-intent href="*" />

  <!-- <gap:plugin name="cordova.plugin.local-notification" /> -->
  
  <author href="https://build.phonegap.com" email="kunaal438@gmail.com">
    kunaal kumar    
  </author>

</widget>